body {
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: rgb(155, 235, 255);
}

img {
  width:min(40%, 300px);
  height:min(40%, 300px);
  border-radius:10%;
}

ul {
  display: flex;
flex-wrap: wrap;
flex-direction: row;
}

.reviewCardBrief {
  background-color: rgb(193, 248, 255);
  list-style-type: none;
  width:90%;
  height: 90%;
  padding: 0% 0% 1% 0%;
  margin: 1% auto;
  border: solid 2px;
  border-radius: 5%
}

ul {
  
}

/* These are the PC updates for CSS 
(if the screen is under 800px then do this */
@media screen and (min-width:800px) {
  .reviewCardBrief {
    width:40%;
    height: 40%;

  }
}